.customModal {
  border-radius: 16px;
  width: 75%;
  max-width: none;
  color: #000;
  padding: 0px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 0px;
}
.content {
  padding: 1rem;
  width: 100%;
  padding: 20px 40px 40px 40px;
  box-sizing: border-box;
  display: flex;
}
.content p {
  font-size: var(--text-xl); /* 1.25rem (20px) */
  line-height: var(--text-xl--line-height);
  margin: 2px;
}
.title {
  font-weight: bold;
  margin: 0px;
  margin-bottom: 0px;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem;
}
.titleBox {
  height: 60px;
  padding: 0px 20px;
  box-sizing: border-box;
  background-color: #c4c4c4;
  width: 100%;
  display: flex;
  align-items: center;
}
