.customModal {
  border-radius: 16px;
  width: calc(70% + 50px);
  max-width: none;
  color: #fff;
  padding: 0px;
  overflow: visible;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 0px;
}
.content {
  padding: 1rem;
  width: 100%;
  padding: 20px 40px 40px 40px;
  box-sizing: border-box;
  display: flex;
}
.content p {
  font-size: var(--text-xl); /* 1.25rem (20px) */
  line-height: var(--text-xl--line-height);
  margin: 2px;
}
.title {
  padding-left: 22px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 0px;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem;
}
.titleBox {
  overflow: hidden;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  height: 60px;
  padding: 0px 20px;
  box-sizing: border-box;
  background-color: #4cbbb6;
  width: 100%;
  display: flex;
  align-items: center;
}
.close {
  width: 32px;
  height: 32px;
}
.logo {
  z-index: 2;
  top: -15px;
  left: -15px;
  border: #4cbbb6 2px solid;
  background-color: #fff;
  border-radius: 50%;
  padding: 6px;
  position: absolute;
  height: 40px;
  width: 40px;
}
