.form {
  display: flex;
  min-width: calc(20vw + 100px);
  max-width: 95vw;
  box-sizing: border-box;
  flex-direction: column;
  background-color: white;
  color: #4cbbb6;
  overflow: hidden;
  opacity: 1;
  transition: max-width 0.8s ease, opacity 0.5s ease;
}
.hidden {
  max-width: 0;
  opacity: 0;
}
.form h2 {
  font-size: 28px;
  color: #4cbbb6;
  font-weight: 700;
}
.texto {
  background-color: white;
  color: #4cbbb6;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 4px;
  outline: #4cbbb6;
  border: #4cbbb6 2px solid;
}
.inputBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-height: 70px;
  overflow: hidden;
  transition: all 0.5s linear;
}
.inputBox label {
  font-weight: 600;
  font-size: 18px;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 2.4px 2.4px 3.2px;
  background-color: #4cbbb6;
  color: #f0f0f0;
  background-image: url(../../assets/send.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
.btn:hover {
  padding: 1em 1.2em;
  transition: padding 100ms linear;
}
.btn:disabled {
  opacity: 0.3;
  padding: 0.8em 1.2em;
  cursor: auto;
}
.send_btn {
  background-image: url(../../assets/send.svg);
  background-position-x: calc(100% - 12px);
}
.return_btn {
  background-image: url(../../assets/voltar.svg);
  background-position-x: 12px;
}
.separador {
  border: #4cbbb6 1px solid;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 300px; /* valor grande o suficiente */
  opacity: 1;
  transition: max-height 0.8s ease, opacity 0.5s ease;
}
.hidden {
  max-height: 0;
  opacity: 0;
}
.feedbackBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feedbackBox span {
  font-size: 22px;
  font-weight: 600;
}
.success {
  margin: 0 auto;
  height: 80px;
  width: 80px;
  padding: 8px;
  background-color: #4cbbb6;
  border-radius: 50%;
}
