.inputBox {
  display: flex;
  color: #4cbbb6;
  width: 100%;
  flex-direction: column;
  align-items: start;
  max-height: 70px;
  overflow: hidden;
  transition: all 0.5s linear;
}
.inputBox label {
  font-weight: 600;
  font-size: 18px;
}
.texto {
  background-color: white;
  color: #4cbbb6;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 4px;
  outline: #4cbbb6;
  border: #4cbbb6 2px solid;
}
