.campo {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  transition: all 0.5s linear;
  max-height: 70px;
}
.campo select {
  background-color: white;
  color: #4cbbb6;
  border: #4cbbb6 2px solid;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.campo option {
  background-color: white;
  color: #4cbbb6;
}
.title {
  font-weight: 600;
  font-size: 18px;
}
.disable {
  display: none;
}
.fadeOut {
  opacity: 0;
  max-height: 0px;
  margin-bottom: 0px;
  pointer-events: none;
}

/* aparecendo */
.fadeIn {
  opacity: 1;
  max-height: 70px;
  margin-bottom: 6px;
}
.selectBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
}
