#root {
  padding: 0;
  text-align: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
