.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: calc(10vw - 80px);
  transition: gap 1s ease;
}
.gap_0 {
  gap: 0;
}

.container {
  position: relative;
  background-color: white;
  z-index: 1;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  padding: 20px 40px;
  border-radius: 20px;
  max-width: calc(30vw + 100px);
  opacity: 1;
  transition: max-width 0.8s ease, opacity 0.5s ease;
}
.hidden {
  max-width: 0;
  opacity: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 1s ease;
}

.logo {
  z-index: 2;
  top: -15px;
  left: -15px;
  border: #4cbbb6 2px solid;
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  position: absolute;
  height: 40px;
  width: 40px;
}
